<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.contentprovider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ProviderActivity" />

        <provider
            android:name=".BookContentProvider"
            android:authorities="com.example.contentprovider.book.provider"
            android:permission="com.example.provider"
            android:process=":provider" />

    </application>

</manifest>